@font-face {
  font-family: "iconfont"; /* Project id 4213681 */
  src: url('iconfont.woff2?t=1716836229463') format('woff2'),
       url('iconfont.woff?t=1716836229463') format('woff'),
       url('iconfont.ttf?t=1716836229463') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grades:before {
  content: "\e608";
}

.icon-daiyanshou:before {
  content: "\e610";
}

.icon-a-jiaoliuzhongxin_huaban1:before {
  content: "\e609";
}

.icon-kaoshizhongxin:before {
  content: "\e682";
}

.icon-a-manfen_huaban1fuben87:before {
  content: "\e6cf";
}

.icon-xianshi:before {
  content: "\e630";
}

.icon-kaoshi:before {
  content: "\e607";
}

.icon-kaoshishijian:before {
  content: "\e600";
}

.icon-zhongzhi:before {
  content: "\e605";
}

.icon-yidongzhi:before {
  content: "\e66a";
}

.icon-wenjian:before {
  content: "\e750";
}

.icon-quanbu:before {
  content: "\e665";
}

.icon-quanbu1:before {
  content: "\e650";
}

.icon-quanbu2:before {
  content: "\e613";
}

.icon-zuzhiqunzu:before {
  content: "\ebd8";
}

.icon-yiwen:before {
  content: "\e61e";
}

.icon-2zuixiaohua-2:before {
  content: "\e65a";
}

.icon-fangleijiedi:before {
  content: "\e632";
}

.icon-zuhupeizhi:before {
  content: "\e618";
}

.icon-guanbi1:before {
  content: "\eaf2";
}

.icon-shangxiazhankai:before {
  content: "\eb13";
}

.icon-up_x:before {
  content: "\e6a2";
}

.icon-a-xiala2:before {
  content: "\e621";
}

.icon-xiangyou:before {
  content: "\e666";
}

.icon-neicun:before {
  content: "\e61a";
}

.icon-piaozhong:before {
  content: "\e642";
}

.icon-shebei_shebeizu:before {
  content: "\e68d";
}

.icon-tianjiarenyuan:before {
  content: "\e62c";
}

.icon-shanchu:before {
  content: "\e654";
}

.icon-tianjia:before {
  content: "\e614";
}

.icon-qiehuan:before {
  content: "\e789";
}

.icon-chakan:before {
  content: "\e64b";
}

.icon-youxiang:before {
  content: "\e63f";
}

.icon-renwu-ren:before {
  content: "\e749";
}

.icon-shebei:before {
  content: "\e603";
}

.icon-lixian:before {
  content: "\e73e";
}

.icon-yichang:before {
  content: "\e631";
}

.icon-zhengchang:before {
  content: "\e664";
}

.icon-lianjie_:before {
  content: "\e684";
}

.icon-rizhi:before {
  content: "\e617";
}

.icon-wangluopeizhi:before {
  content: "\e6ca";
}

.icon-kafei:before {
  content: "\e660";
}

.icon-zongji:before {
  content: "\e60d";
}

.icon-checkbox-full:before {
  content: "\ea6f";
}

.icon-yonghuming-copy:before {
  content: "\e6aa";
}

.icon-yonghuming-copy1:before {
  content: "\e6ab";
}

.icon-warning:before {
  content: "\e60c";
}

.icon-yly_guanliyuan:before {
  content: "\e61d";
}

.icon-guanbi:before {
  content: "\e60e";
}

.icon-yonghuming:before {
  content: "\e606";
}

.icon-zuidahua:before {
  content: "\e653";
}

.icon-dengdaizhongbeifen:before {
  content: "\e60f";
}

.icon-zhuangtai-jingshi-Fill:before {
  content: "\e6a9";
}

.icon-zuixiaohua:before {
  content: "\e692";
}

.icon-zhuangtai-chenggong_zhuangtai-chenggong:before {
  content: "\e604";
}

