<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.examsys.oes.mapper.MessageMapper">

    <!-- 查询所有消息，包括关联的回复 -->
    <select id="findAll" resultMap="messageResultMap">
        SELECT id, id AS temp_id, title, content, time FROM "message" ORDER BY id DESC
    </select>

    <!-- 根据ID查询消息，包括关联的回复 -->
    <select id="findById" resultMap="messageResultMap">
        SELECT id, title, content, time FROM "message" WHERE id = #{id}
    </select>

    <!-- 删除消息 -->
    <delete id="delete">
        DELETE FROM "message" WHERE id = #{id}
    </delete>

    <!-- 更新消息 -->
    <update id="update">
        UPDATE "message" SET title = #{title}, content = #{content}, time = #{time} WHERE id = #{id}
    </update>

    <!-- 添加消息 -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "message" (title, content, time) VALUES (#{title}, #{content}, #{time})
    </insert>

    <!-- ResultMap to handle relations with replays -->
    <resultMap id="messageResultMap" type="com.examsys.oes.entity.Message">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
        <collection property="replays" column="temp_id"
                    javaType="List" ofType="com.examsys.oes.entity.Replay"
                    select="com.examsys.oes.mapper.ReplayMapper.findAllById"/>
    </resultMap>

</mapper>
